@import "tailwindcss";

:root {
  --background: #f3f4f6; 
  --foreground: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
