@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6; 
  --foreground: #1f2937;
  --font-sans: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
